extends ../layouts/default

block content
	//BODY//
	//SPONSOR & DONATE//
	section
		div.container-fluid.bgimg-1
			div.banner1 Clean socks are one of the most important items for people experiencing homelessness
			div.btn-back
				h4 Help us make a difference today!
				a(href='/contact')
					button.btn.btn-box.btn-lg SPONSOR, ADOPT or BUILD a Box
				div(style="margin-top: 10px")
					a(href='http://www.wecount.org/' target="_blank")
						img.donate-img(src='http://res.cloudinary.com/dtxljpvj5/image/upload/c_scale,h_33/v1478550147/wecount_white_logo_v7fcgm.png')
					h4.hashtag #BoxOfSox
	//- 		div.box
	//- 			div.pull-handle
	//- 				span.pull DONATE
	//- 				a(href='#')
	//- 					span.handle PULL
	//- 				span.pull SOCKS
	//- 			div.glass
	//- 				div.paper
	//- 					h3.headline SOCKS AMONG MOST NEEDED BY HOMELESS; LEAST OFTEN DONATED
	//- 					img(src="http://res.cloudinary.com/dtxljpvj5/image/upload/v1479251934/Clothing-Socks-icon_spprcj.png" height="90px")
	//- 					p.story 1 in 5 homeless people don't visit shelters, where the majority of socks are donated.
	//- 					div.banner
	//- 						h2 Help us make a difference today! #BoxOfSox
	//- 					a(href='/contact')
	//- 						button.btn.btn-box.btn-lg SPONSOR, ADOPT or BUILD a #BoxOfSox
	//- 				hr
	//MESSAGE//
	div.divider
		div.container-fluid.map-container#location
			h3 Find a #BoxofSox
			p Need Socks? Take a pair from a box. Have Socks? Leave a pair in a box. It's that simple!
			iframe.map(src="https://www.google.com/maps/d/embed?mid=1X7ta73w-OUSeZwlxCR6dlX182Mw&key=AIzaSyDQNGjVuiv--lNJvyBGiW9W8xbln8UYVys")
	//LOCATIONS & VIDEO//
	section
		div.container-fluid.bgimg-2
			h4 We've placed boxes from Northgate to White Center - #[a(href='mailto:Info@WeCount.org') contact us] to join our program.
			iframe.video(src="https://www.youtube.com/embed/oK4Mz5WxQ_4" frameborder="0" allowfullscreen)
	//MESSAGE//
	div.divider
		h3 By providing people 24/7 access to waterproof boxes of socks, we can all meet a critical need
	//COMMUNITY & SOCIAL//
	section
		div.container-fluid.bgimg-3
			div.caption
				div
					span.social Check us out
						a(href='https://www.facebook.com/WeCount/?ref=page_internal' target='_blank')
							img(src='http://res.cloudinary.com/dtxljpvj5/image/upload/v1479252622/square-facebook-512_utmx9z.png' height= '30px')
						a(href='https://twitter.com/wecountorg' target='_blank')
							img(src='http://res.cloudinary.com/dtxljpvj5/image/upload/v1480816620/Twitter-icon_rwdsvs.png' height= '30px')
				div
					a(href='http://www.wecount.org/' target="_blank")
						span.social Learn more @ WeCount.org
	script(src='/js/noscrollmap.js')