.contact-page {
	margin-top: 65px;
}

.option {
	text-align: center;
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	.option-title {
		font-style: bold;
		font-size: 36px;
	}
	i {
		margin: 10px;
		font-size: 36px;
	}
	.option-caption {
		font-size: 18px;
		font-style: italic;
		margin: 5px;
	}
	.option-description {
		font-size: 14px;
	}
}

.interest-form {
	margin: 20px;
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}