// Override Bootstrap variables in this file, e.g.

$font-size-base: 14px;
//COLORS//
$color-primary: #1C77BA;
$color-secondary: rgba(0,173,239, 1);
$color-tertiary: #2BB575;
$color-complimentary: #fed136;
$white: white;
$black: black;

//SIZES//
$section-big: 800px;
$section-normal: 500px;
$section-small: 400px;
$header-normal: 58px;
$font-big: 36px;
$font-normal: 25px;
$font-small: 16px;

//FONTS//
$font-primary: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-secondary: "Helvetica Neue", Helvetica, Arial, sans-serif;

//IMAGES//
$background1: url("http://res.cloudinary.com/dtxljpvj5/image/upload/v1479739459/14753946_2005366166356837_438594889593754265_o_wx35mw.jpg");
$background2: url("http://res.cloudinary.com/dtxljpvj5/image/upload/o_30/v1479612933/white_sock_feet_krb1uh.jpg");
$background3: url("http://res.cloudinary.com/dtxljpvj5/image/upload/v1479613009/14717218_2004918759734911_8296659781062125794_n_ps4ufj.jpg");