// Override Bootstrap variables in this file, e.g.

$font-size-base: 14px;
//COLORS//
$color-primary: #1C77BA;
$color-secondary: rgba(0,173,239, 1);
$color-tertiary: #2BB575;
$color-complimentary: #fed136;
$white: white;
$black: black;

//SIZES//
$section-big: 800px;
$section-normal: 500px;
$section-small: 400px;
$header-normal: 65px;
$font-big: 36px;
$font-normal: 25px;
$font-small: 16px;

//FONTS//
$font-primary: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-secondary: "Helvetica Neue", Helvetica, Arial, sans-serif;

//IMAGES//
$background1: url("http://res.cloudinary.com/dtxljpvj5/image/upload/v1480803862/IMG_0185_pq8ozg.jpg");
$background2: url("http://res.cloudinary.com/dtxljpvj5/image/upload/v1480802487/14717218_2004918759734911_8296659781062125794_n_1_bf7ysh.jpg");
$background3: url("http://res.cloudinary.com/dtxljpvj5/image/upload/v1480802542/IMG_0127_vpnnll.jpg");